{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static "js/answer_survey.js" %}"></script>
<div id="app">

</div>
<div id="errors">
</div>

{% for q in questions %}
<form method="post" id="form-{{q.id}}" class="mt-3" >
<input type="hidden" name="question" value="{{q.id}}" v-model="response">
        <label class="p-3">{{q.question_text}}</label>

        <select >
            {% for answer in  q.answer.all %}

            <option value="{{answer.id}}">{{answer.answer}}</option>
            {% endfor %}

          </select>
        <div class="input-group">

        <input type="submit" value="Submit" id="survey-submit" class="btn bg-purple text-white" >
  
      </div>
{% csrf_token %}
</form>

{% endfor %}
</body>
{% endblock %}